In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import requests, bs4, csv
import os
import f1scraper1 as scrape
import time
import lxml

In [ ]:
#parsing web content html
url = 'https://www.formula1.com/en/results.html/2021/races/1067/monaco.html'

In [ ]:
tables = pd.read_html(url)
monaco=tables[0]
monaco

In [ ]:
tables = pd.read_html(url,skiprows = [0,8])
monaco=tables[0]
monaco

In [ ]:
stripurl=url.lstrip('https://www.formula1.com/en/results.html/').rstrip('.html')

In [ ]:
stripurl

In [ ]:
spliturl = stripurl.split('/')
spliturl

In [ ]:
year_race = (spliturl[0], spliturl[3])
year_race

In [ ]:
#issue years with race in same location 2020 austria and styria have the same url country

In [ ]:
monaco['year']= '2021'
monaco

In [ ]:
monaco.drop(['year'], axis =1, inplace = True)
monaco

In [ ]:
#adding year race as a tuple?
monaco[['year', 'race']]=year_race

In [ ]:
monaco

In [ ]:
monaco.drop(['Unnamed: 0','Unnamed: 8'], axis =1, inplace = True)
monaco

In [ ]:
monaco

In [ ]:
main_url = 'https://www.formula1.com/en/results.html'

In [ ]:
website = requests.get(main_url)
website.raise_for_status()
soup = bs4.BeautifulSoup(website.text, 'html.parser')

In [ ]:
race_soup = soup.select('div.resultsarchive-filter-wrap')[2]

In [ ]:
race_list = []
for span in race_soup.find_all('span'):
    race_list.append(span.get_text())

In [ ]:
race_list

In [ ]:
columns_name = monaco.columns
columns_name

In [ ]:
main_df = pd.DataFrame(columns = columns_name)

In [ ]:
main_df = main_df.append(monaco)
main_df

In [ ]:
main_df.to_csv('f1.csv', index =False)

In [ ]:
table = pd.read_html('https://www.formula1.com/en/results.html/2020/races.html')
df = table[0]
df

In [ ]:
#function to pull date and track/location
#span class = "full-date"
#span class = "circuit-info"
#soup.select('span.full-date').get_text()

In [ ]:
austria19 = scrape.get_soup('https://www.formula1.com/en/results.html/2020/races/1045/austria/race-result.html')

In [ ]:
type(austria19)

In [ ]:
date = austria19.find(class_ = 'full-date').get_text()
date

In [ ]:
dt=date.get_text()
dt

In [ ]:
info = austria19.find(class_ = 'circuit-info').get_text()
info

In [ ]:
full_date = austria19.find_all("p", class_ = "date")
full_date

In [ ]:
type(full_date)

In [ ]:
austria19.select(".date")

In [ ]:
#find all span under 'p' class_ = 'date'

In [ ]:
spans = austria19.select(".date > span")
spans

In [ ]:
def getdateinfo(spans):
    date = spans[1].get_text()
    info = spans[2].get_text()
    return (date,info)

In [ ]:
date_info = getdateinfo(spans)
date_info

In [ ]:
dat_in = scrape.get_date_info(austria19)
dat_in

In [ ]:
#working on get race names
#div.resultsarchive-filter-wrap:nth-child(3) > ul:nth-child(1)
race_spances = austria19.find_all("span",class_ = "resultsarchive-filter-item-link FilterTrigger selected")

In [ ]:
race_spances

In [ ]:
race_name = austria19.find_all(class_ = "resultsarchive-filter-item-link FilterTrigger selected")[2].get_text().strip()
race_name

In [ ]:
styria_soup = scrape.get_soup('https://www.formula1.com/en/results.html/2020/races/1046/austria/race-result.html')

In [ ]:
styria_name = scrape.get_race_name(styria_soup)
styria_name

In [ ]:
for x in range(3):
    print(x)

In [2]:
url_2010 = 'https://www.formula1.com/en/results.html/2010/races/860/bahrain/race-result.html'

In [3]:
soup_2010 = scrape.get_soup(url_2010)

In [4]:
date,info = scrape.get_date_info(soup_2010)

In [5]:
print(date, ' ', info)

14 Mar 2010   Bahrain International Circuit, Bahrain

In [ ]:
spans = soup_2010.select(".date > span")

In [ ]:
spans

In [ ]:
len(spans)

In [5]:
wikilink = 'https://en.wikipedia.org/wiki/List_of_Formula_One_drivers'

In [6]:
wikitable = pd.read_html(wikilink)

In [9]:
len(wikitable)

5

In [10]:
wikitable[0].head()

                                         Formula One
0  Current season 2021 Formula One World Champion...
1  Related articles History of Formula One Formul...
2  Lists Drivers (GP winnersPolesittersFastest la...
3   Records Drivers Constructors Engines Tyres Races
4  Organisations FIA FIA World Motor Sport Counci...

In [11]:
wikitable[1].head()

  Symbol                                            Meaning
0      ~  Currently active world champions(driver has co...
1      *  Currently active drivers(driver has competed i...
2      ^  Former world champions(driver has won the Worl...

In [12]:
wikitable[2].head()

,Driver Name,Nationality,Seasons Competed,Drivers' Championships,Race Entries,Race Starts,Pole Positions,Race Wins,Podiums,Fastest laps,Points[a]
0,Carlo Abate,Italy,1962–1963,0,3,0,0,0,0,0,0
1,George Abecassis,United Kingdom,1951–1952,0,2,2,0,0,0,0,0
2,Kenny Acheson,United Kingdom,"1983, 1985",0,10,3,0,0,0,0,0
3,Andrea de Adamich,Italy,"1968, 1970–1973",0,36,30,0,0,0,0,6
4,Philippe Adams,Belgium,1994,0,2,2,0,0,0,0,0