In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
ramen = pd.read_csv('ramen-ratings.csv')

In [6]:
ramen.head()

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN

In [8]:
ramen.shape

(2580, 7)

In [11]:
pd.options.display.max_rows =20

In [12]:
ramen.isnull().sum() #check how many missing values are in each row

Review #       0
Brand         13
Variety       15
Style         15
Country       14
Stars         13
Top Ten     2539
dtype: int64

In [33]:
#create df with only rows that have null values to later do a NA analysis
#df[df.isna().any(axis=1)]
null_ramen = ramen[ramen.isna().any(axis=1)]
null_ramen

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN
...,...,...,...,...,...,...,...
2575,5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5,NaN
2576,4,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1,NaN
2577,3,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2,NaN
2578,2,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2,NaN
2579,1,Westbrae,Miso Ramen,Pack,USA,0.5,NaN

In [52]:
#top ten column is throughing it off
na_columns = ramen.columns.drop("Top Ten")
na_columns

Index(['Review #', 'Brand', 'Variety', 'Style', 'Country', 'Stars'], dtype='object')

In [57]:
null_ramen = ramen[ramen[na_columns].isna().any(axis=1)]
null_ramen

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
130,2450,NaN,NaN,NaN,NaN,NaN,NaN
242,2338,NaN,NaN,NaN,NaN,NaN,NaN
243,2337,NaN,NaN,NaN,NaN,NaN,NaN
244,2336,NaN,NaN,NaN,NaN,NaN,NaN
245,2335,NaN,NaN,NaN,NaN,NaN,NaN
444,2136,NaN,NaN,NaN,NaN,NaN,NaN
560,2020,NaN,NaN,NaN,NaN,NaN,NaN
696,1884,NaN,NaN,NaN,NaN,NaN,NaN
703,1877,NaN,NaN,NaN,NaN,NaN,NaN
777,1803,NaN,NaN,NaN,NaN,NaN,NaN
900,1680,NaN,NaN,NaN,NaN,NaN,NaN
1001,1579,NaN,NaN,NaN,NaN,NaN,NaN
1170,1410,Adabi,NaN,Pack,Malaysia,3.25,NaN
1173,1407,Annie Chun's,Ramen House Thai Coconut Ramen,Pack,NaN,5,NaN
1182,1398,NaN,NaN,NaN,NaN,NaN,NaN
1191,1389,Tiger Tiger,NaN,Pack,UK,1.75,NaN
2152,428,Kamfen,E Menm Chicken,NaN,China,3.75,NaN
2442,138,Unif,100 Furong Shrimp,NaN,Taiwan,3,NaN

In [11]:
cleaned_ramen = ramen.dropna() #drop any row containing a missing value

In [13]:
cleaned_ramen.shape #too much deleted

(41, 7)

In [14]:
clean_ramen = ramen.dropna(how = 'all')

In [15]:
clean_ramen.shape #no rows deleted

(2580, 7)

In [16]:
droprow_ramen = ramen.dropna(axis= 1)

In [17]:
droprow_ramen.shape #dropped every row but one

(2580, 1)

In [18]:
dropr_ramen = ramen.dropna(how = 'all', axis =1)

In [22]:
dropr_ramen.shape # no columns deleted so no column with all nulls

(2580, 7)

In [23]:
#how to drop a row with some missing values in a spcific column/columns but not all and not one?

In [5]:
good_ramen = ramen.dropna(thresh = 3)

In [6]:
good_ramen.shape #what we want

(2567, 7)

In [10]:
#check for duplicates
good_ramen.duplicated().sum() #no duplicates

0

In [62]:
#mapping a new column "region"
good_ramen['Country'].unique()

array(['Japan', 'Taiwan', 'USA', 'India', 'South Korea', 'Singapore',
       'Thailand', 'Hong Kong', 'Vietnam', 'Ghana', 'Malaysia',
       'Indonesia', 'China', 'Nigeria', 'Germany', 'Hungary', 'Mexico',
       'Fiji', 'Australia', 'Pakistan', 'Bangladesh', 'Canada', 'Nepal',
       'Brazil', 'UK', 'Myanmar', 'Netherlands', 'United States',
       'Cambodia', 'Finland', 'Sarawak', 'Philippines', 'Sweden',
       'Colombia', nan, 'Estonia', 'Holland', 'Poland', 'Dubai'],
      dtype=object)

In [69]:
country_to_region = {
    'Japan' :'Asia',
    'Taiwan' : 'Asia',
    'USA': 'North America',
    'India' : 'Asia',
    'Singapore': 'Asia',
    'Thailand' : 'Asia',
    'Hong Kong': 'Asia', 
    'Veitnam' : 'Asia',
    'Ghana': 'Africa', 
    'Malaysia' : 'Asia',
    'Indonesia' : 'Asia', 
    'China' : 'Asia',
    'Nigeria' : 'Africa', 
    'Germany' : 'Europe', 
    'Hungary' : 'Europe', 
    'Mexico' : 'North America',
    'Fiji' : 'Oceania', 
    'Australia' : 'Oceania', 
    'Pakistan' : 'Mid East', 
    'Bangladesh' : 'Asia', 
    'Canada' : 'North America', 
    'Nepal' : 'Africa', 
    'Brazil' : 'South America',
    'UK' : 'Europe', 
    'Myanmar' : 'Asia',
    'Netherlands' : 'Europe', 
    'United States' : 'North America', 
    'Cambodia' : 'Asia', 
    'Finland' : 'Europe', 
    'Sarawak' : 'Asia',
    'Philippines' : 'Asia', 
    'Sweden' : 'Europe', 
    'Colombia' : 'South America', 
    'Estonia' : 'Europe', 
    'Holland' : 'Europe', 
    'Poland' : 'Europe',
    'Dubai': 'Mid East'
    
}

In [70]:
good_ramen['Region']= good_ramen['Country'].map(country_to_region)

<ipython-input-70-058404a18504>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  good_ramen['Region']= good_ramen['Country'].map(country_to_region)

In [71]:
good_ramen.head()

,Review #,Brand,Variety,Style,Country,Stars,Top Ten,Region
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN,Asia
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN,Asia
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN,North America
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN,Asia
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN,Asia